/* main font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;0,900;1,200;1,400;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Poppins', sans-serif;
    }

    @keyframes float {
        0% {
          transform: translatey(0px);
        }
        50% {
          transform: translatey(-15px);
        }
        100% {
          transform: translatey(0px);
        }
      }
      .floating {
        animation: float 6s ease-in-out infinite;
      }

      .lineclamp {
          text-overflow: ellipsis;
          white-space: wrap;
          overflow: hidden;
          line-clamp: 4; 
      }

      .loader {
        width: 18px;
        height: 18px;
        border-radius: 90%;
        position: relative;
        animation: rotate 1s linear infinite
      }
      .loader::before {
        content: "";
        box-sizing: border-box;
        position: absolute;
        inset: 0px;
        border-radius: 90%;
        border: 3px solid #9da9d9;
        animation: prixClipFix 2s linear infinite ;
      }
  
      @keyframes rotate {
        100%   {transform: rotate(360deg)}
      }
  
      @keyframes prixClipFix {
          0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
          25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
          50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
          75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
          100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
      }

      .checkbox {
        width: 16px;
        height: 16px;
        border: none;
        outline: none; /* Remove the focus ring */
        cursor: pointer;
        background-color: transparent;
        filter: opacity(0.9);
      }
      
      .checkbox:checked:before {
        content: "x";
        display: block;
        text-align: center;
        line-height: 16px;
        font-size: 12px;
        font-weight: bold;
        color: #fff;
        background-color: #090A0E;
      }
}