/* main font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;0,900;1,200;1,400;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Poppins', sans-serif;
    }

    @keyframes float {
        0% {
          transform: translatey(0px);
        }
        50% {
          transform: translatey(-15px);
        }
        100% {
          transform: translatey(0px);
        }
      }
      .floating {
        animation: float 6s ease-in-out infinite;
      }

      .lineclamp {
          text-overflow: ellipsis;
          /* white-space: wrap; */
          overflow: hidden;
          line-clamp: 4; 
      }
}